[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/kirti765
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kirti765
	label-Verified = -1..+1 group user/kirti765
	push = group user/kirti765
	read = group user/kirti765
	rebase = group user/kirti765
	removeReviewer = group user/kirti765
	submit = group user/kirti765
[access "refs/heads/*"]
	create = group user/kirti765
	push = +force group user/kirti765
	pushMerge = group user/kirti765
	read = group user/kirti765
[access "refs/tags/*"]
	push = group user/kirti765
	push = +force group user/kirti765
